/target
/classes
/checkouts
profiles.clj
pom.xml
pom.xml.asc
package.json
package-lock.json
shadow-cljs.edn
*.jar
*.class
/.lein-*
/.nrepl-port
/.prepl-port
/.clj-kondo
/.lsp
/.vscode
/.shadow-cljs
/node_modules
